@charset "utf-8";
.container header {
	background-color: #FFAF74;
}
.container header nav {
	background-color: #FFAF74;
}
.container #hero {
	background-image: url(images/%E8%83%8C%E6%99%AF%E5%9C%962.jpg);
}
.container #about {
	background-image: -webkit-linear-gradient(270deg,rgba(255,135,27,1.00) 0%,rgba(255,255,255,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(255,135,27,1.00) 0%,rgba(255,255,255,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(255,135,27,1.00) 0%,rgba(255,255,255,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(255,135,27,1.00) 0%,rgba(255,255,255,1.00) 100%);
	text-align: center;
}
.container #banner {
	background-image: url(images/%E8%83%8C%E6%99%AF%E5%9C%96.jpg);
}
.container #contact {
	background-image: url(images/%E8%83%8C%E6%99%AF%E5%9C%963.jpg);
	background-color: #FFAF74;
}
.container #copyright {
	background-color: #FFAF74;
}
.container #button {
	background-color: #FFBE8A;
}
